<div class="col pad">
<h2>Problem Statement</h2>
<h4>Use Case 1: Employee Registration</h4>
<ul>
  <li>As a user, I should be able to Register an employee with following details</li>
    <ul>
      <li>First Name</li>
      <li>Last Name</li>
      <li>Gender</li>
      <li>Date of Birth</li>
      <li>Department</li>
    </ul>
</ul>
<h4>Use Case 2: Employee List</h4>
<ul>
  <li>As a user, I should be able to see all the employee details in a tabular form in ascending order by first name</li>
</ul>
</div>